## Assignment 2

In [178]:
# Part 1
# 1. Create a list with the names of every planet in our solar system, in order
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Neptune", "Uranus"]
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Neptune', 'Uranus']

In [179]:
# 2. Have Python tell you how many planets there are by examining your list
len(planets)

8

In [180]:
# 3. Use slicing to display the first four (rocky) planets
planets[0:4]

['Mercury', 'Venus', 'Earth', 'Mars']

In [181]:
# 4. Iterate through your planets and print the planet name only if it has an 's' at the end
for i in planets:
    if i[-1] == 's':
        print(i)

Venus
Mars
Uranus

In [182]:
# Part 2
# 1. Write a function to convert temperature from Kelvin to Celcius
def k_to_c(temp):
    """ Returns temperature in celcius """
    if temp >= 0:
        return f"{temp-273.15:.2f}°C" # Formatting result to 2 decimal places
    else:
        return "Invalid Input"

In [183]:
k_to_c(-1)

'Invalid Input'

In [184]:
k_to_c(100)

'-173.15°C'

In [185]:
# 2. Write a function that converts temperature to Fahrenheit
def fahrenheit(temp, celcius = False):
    """ Returns a temperature in Fahrenheit; conditional for celcius/kelvin """
    if celcius == False:
        if temp >= 0:
            return f"{(temp-273.15)*(9/5)+32:.2f}°F"
        else:
            return "Invalid Input"
    else:
        if temp >= -273.15:
            return f"{temp*(9/5)+32:.2f}°F"
        else:
            return "Invalid Input"

In [186]:
# 3. Check that the outputs are sensible
fahrenheit(200)

'-99.67°F'

In [187]:
fahrenheit(-1)

'Invalid Input'

In [188]:
fahrenheit(200, celcius = True)

'392.00°F'

In [189]:
fahrenheit(-300, celcius = True)

'Invalid Input'

In [190]:
fahrenheit(15, celcius = True)

'59.00°F'

In [191]:
# 4. Write a function that converts to Fahrenheit
def temp_convert(temp, tempfrom, tempto):
    """ Converts temperature from one unit to another based on other inputs """
    if tempfrom == "C" or tempfrom == "c":
        if tempto == "K" or tempto == "k":
            return f"{temp+273.15:.2f}K"
        else: 
            return f"{temp*(9/5)+32:.2f}°F"
    elif tempfrom == "F" or tempfrom == "f":
        if tempto == "K" or tempto == "k":
            return f"{(temp-32)*(5/9)+273.15:.2f}K"
        else:
            return f"{(temp-32)*(5/9):.2f}°C"
    elif tempfrom == "K" or tempfrom == "k":
        if tempto == "C" or tempto == "c":
            return f"{temp-273.15:.2f}°C"
        else:
            return f"{(temp-273.15)*(9/5)+32:.2f}°F"

In [192]:
temp_convert(0, "K", "C")

'-273.15°C'

In [193]:
temp_convert(100, "F", "C")

'37.78°C'

In [194]:
temp_convert(88, "f", "K")

'304.26K'

In [195]:
temp_convert(24, "C", "f")

'75.20°F'

In [196]:
temp_convert(75, "c", "k")

'348.15K'

In [197]:
temp_convert(1000000, "K", "F")

'1799540.33°F'

In [198]:
# 5. Now write a function that take two arguments (feet and inches) 
# and returns height in meters
def height_in_m(feet, inches):
    """ Converts input to height in meters """
    meters = round((feet * 0.3048) + (inches * 0.0254), 3)
    return meters

In [199]:
height = height_in_m(6, 3)
print(f"You are {height} meters tall.")

You are 1.905 meters tall.

In [200]:
height = height_in_m(5, 5)
print(f"You are {height} meters tall.")

You are 1.651 meters tall.

In [201]:
height = height_in_m(5, 10)
print(f"You are {height} meters tall.")

You are 1.778 meters tall.

In [202]:
# 6. Write a function that takes one argument (height in meters) and returns
# two arguments (feet and inches)
def height_in_ft(meters):
    """Converts input in meters to output in feet and inches."""
    feet = int(meters // 0.3048)
    rem = meters % 0.3048
    inches = round(rem / 0.0254, 2)
    return [feet, inches]

In [203]:
height1 = height_in_ft(1.905)
print(f"You are {height1[0]} feet and {height1[1]} inches tall.")

You are 6 feet and 3.0 inches tall.

In [204]:
height2 = height_in_ft(1.651)
print(f"You are {height2[0]} feet and {height2[1]} inches tall.")

You are 5 feet and 5.0 inches tall.

In [205]:
height3 = height_in_ft(1.778)
print(f"You are {height3[0]} feet and {height3[1]} inches tall.")

You are 5 feet and 10.0 inches tall.

In [206]:
heightA = height_in_m(height1[0], height1[1])
print(f"You are {heightA} meters tall, or about {height1[0]} feet and {height1[1]} inches tall.")

You are 1.905 meters tall, or about 6 feet and 3.0 inches tall.

In [207]:
heightB = height_in_m(height2[0], height2[1])
print(f"You are {heightB} meters tall, or about {height2[0]} feet and {height2[1]} inches tall.")

You are 1.651 meters tall, or about 5 feet and 5.0 inches tall.

In [208]:
heightC = height_in_m(height3[0], height3[1])
print(f"You are {heightC} meters tall, or about {height3[0]} feet and {height3[1]} inches tall.")

You are 1.778 meters tall, or about 5 feet and 10.0 inches tall.

In [209]:
# 7. Verify that the round trip conversion from and back to meters is consistent
# Im not sure if this is what you were looking for but I did enjoy trying to see how far the nesting could go lol
height_in_m(6, 3)

1.905

In [210]:
height_in_ft(height_in_m(6, 3))

[6, 3.0]

In [211]:
height_in_m(height_in_ft(height_in_m(6, 3))[0], height_in_ft(height_in_m(6, 3))[1])

1.905

In [212]:
height_in_ft(height_in_m(height_in_ft(height_in_m(6, 3))[0], height_in_ft(height_in_m(6, 3))[1]))

[6, 3.0]

In [213]:
height_in_m(height_in_ft(height_in_m(height_in_ft(height_in_m(6, 3))[0], height_in_ft(height_in_m(6, 3))[1]))[0], 
            height_in_ft(height_in_m(height_in_ft(height_in_m(6, 3))[0], height_in_ft(height_in_m(6, 3))[1]))[1])

1.905

In [214]:
height_in_ft(
    height_in_m(
        height_in_ft(
            height_in_m(
                height_in_ft(
                    height_in_m(6, 3))[0], 
                height_in_ft(
                    height_in_m(6, 3))[1]))[0], 
                height_in_ft(
                    height_in_m(
                        height_in_ft(
                            height_in_m(6, 3))[0], 
                        height_in_ft(
                            height_in_m(6, 3))[1]))[1]))

[6, 3.0]